{% extends 'base.html' %}

{% block title %}
    <title>Reset Password</title>
{% endblock title %}

{% block content %}
<!-- ==============================================
Header Section
=============================================== -->
<section class="login">
  <div class="container">
      <div class="banner-content">
          <h1><i class="fa fa-smile"></i> Fatehgram</h1>
          <form method="post" class="form-signin">
              {% csrf_token %}
              <h3 class="form-signin-heading">Reset Password</h3>
              <div class="form-group">
                {{ form.email }}
              </div>
              <!-- Display email error message -->
              {% if form.errors %}
                {% for error in form.email.errors %}
                <p class="text-align-left"><strong class="text-danger">{{ error|escape }}</strong></p>
                {% endfor %}
              {% endif %}
              <button class="kafe-btn kafe-btn-mint btn-block" type="submit" name="submit">Reset Password</button>
              <br/>
              <a class="btn btn-dark " href="{% url 'accounts:register' %}" role="button">Don't have an account yet? Register Here.</a>
              <a class="btn btn-dark " href="{% url 'accounts:login' %}" role="button">Already have an account? Click Here.</a>
          </form>
      
      </div><!--/. banner-content -->
  </div><!-- /.container -->
</section> 
{% endblock content %}
