{% extends 'base.html' %}

{% block title %}
    <title>Reset Password Done</title>
{% endblock title %}

{% block content %}
<!-- ==============================================
Header Section
=============================================== -->
<section class="login">
  <div class="container">
    <div class="banner-content">
      <h1><i class="fa fa-smile"></i> Fatehgram</h1>
      <h3 class="form-signin-heading">Your password has been changed!</h3>
      <a class="btn btn-dark " href="{% url 'accounts:login' %}" role="button">Login Again ? Click Here.</a>

    </div><!--/. banner-content -->
  </div><!-- /.container -->
</section> 
{% endblock content %}

