{% extends 'base.html' %}

{% block title %}
<title>Reset Password Sent</title>
{% endblock title %}

{% block content %}
<!-- ==============================================
Header Section
=============================================== -->
<section class="login">
    <div class="container">
        <div class="banner-content">
            
            <h1><i class="fa fa-smile"></i> Fatehgram</h1>
            <h3 class="form-signin-heading">We've emailed you instructions for reseting your password. If they haven't arrived in a few
                minutes, check your spam folder.</h3>
                
        </div><!--/. banner-content -->
    </div><!-- /.container -->
</section> 
{% endblock content %}