<section class="nav-sec">
    <div class="d-flex justify-content-between">
        <div class="p-2 nav-icon-lg {{ nav_home }}">
            <a class="nav-icon" href="{% url 'home:feed' %}"><em class="fa fa-home"></em>
                <span>Home</span>
            </a>
        </div>
        <div class="p-2 nav-icon-lg {{ nav_explore }}">
            <a class="nav-icon" href="{% url 'explore:explore' %}"><em class="fa fa-crosshairs"></em>
                <span>Explore</span>
            </a>
        </div>
        <div class="p-2 nav-icon-lg dark-black">
    
        </div>
        <div class="p-2 nav-icon-lg {{ nav_upload }}">
            <a class="nav-icon" href="{% url 'item:upload' %}"><em class="fab fa-instagram"></em>
                <span>Upload</span>
            </a>
        </div>
        <div class="p-2 nav-icon-lg {{ nav_profile }}">
            <a class="nav-icon" href="{{ request.user.userprofile.get_absolute_url }}"><em class="fa fa-user"></em>
                <span>Profile</span>
            </a>
        </div>
    </div>
</section>